/* body {
  margin: 0; /* Removes default body margin */
/* } */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.profile-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin-top: 600px;
}

.profile-header {
  background-color: #f0f0f0;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.name-placeholder {
  font-weight: bold;
}
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.make-my-portfolio-button {
  margin: 0 auto;
  height: 50px;

}.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* App.css */

/* Container for the whole app */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* Button styles */
.profile-button, .make-my-portfolio-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

/* Button hover effect */
.profile-button:hover, .make-my-portfolio-button:hover {
  background-color: #21a0fb;
}

/* Link styles */
a {
  text-decoration: none;
}

