.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.media-container.collapsed {
  max-height: 50px;
  overflow: hidden;
}

.media-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.media-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.expand-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.expand-button:hover {
  background-color: #2980b9;
}

.media-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.media-item {
  flex: 1;
  margin: 1vw;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.media-item img,
.media-item video {
  max-width: 100%;
  height: auto;
  display: block;
}

.button-view-collapse {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.button-view-collapse label {
  margin-right: 10px;
  font-weight: bold;
}


.buttons-photo {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}

.buttons-photo label {
  margin-right: 10px;
  font-weight: bold;
}

 .buttons-photo input[type="file"] {
  display: none; 
} 

.buttons-photo label:before {
  content: "Photo";
  background-color: #002147;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-photo input[type="file"]:hover + label:before {
  background-color: #002147;
}

/* Style when a file is chosen */
.buttons-photo input[type="file"]:focus + label:before {
  outline: none;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.3);
}

.buttons-photo input[type="file"]::file-selector-button {
  display: none;
}

/*  */
/*  */
/*  */
/*  */

.buttons-video {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}

.buttons-video label {
  margin-right: 10px;
  font-weight: bold;
}

.buttons-video  input[type="file"] {
  display: none; 
} 

.buttons-video  label:before {
  content: "Video";
  background-color: #002147;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-video  input[type="file"]:hover + label:before {
  background-color: #002147;
}

/* Style when a file is chosen */
.buttons-video  input[type="file"]:focus + label:before {
  outline: none;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.3);
}

.buttons-video  input[type="file"]::file-selector-button {
  display: none;
}