

.media-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #eeeeee; 
  padding: 20px; 
  margin-top: 10px;
  transition: all 0.3s ease;
}

.media-container.collapsed {
  max-height: 50px; 
  overflow: hidden; 
}