nav {
    background-color: #0d0c41;
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
    width: auto; 
    height: 100px;
	margin-bottom: 10px;
	border-style: double;
	border-width: 5px;
}
.name-area {
	background-color: #0d0c41;
	min-height: 95px;
	width: 100%;
}

.name-surname {
	color: #fff;
	padding-top: 30px;
	padding-left: 20px;
    text-align: center;
}

.watermark {
    position: relative; 
    color: #fff;
    margin-right: auto;
    top: -45px; 
}

.sign-out {
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
	padding: 5px 10px;
    font-family: 'Signika', sans-serif;
	font-size: 15px;
    font-weight: bold;
	background-color: #eeeeee;
	color: rgb(44, 26, 117);
	border: none;
	border-radius: 7px;
	cursor: pointer;
    width: 70px;
    height: 40px;
}

/* nav, .sign-out {
    margin: 0 !important;
} */