nav {
    background-color: #0d0c41;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    border-style: double;
    border-width: 5px;
    padding: 0 20px;
}

.name-area {
    background-color: #0d0c41;
    display: flex;
    align-items: center;
    flex: 1; /* Allow name-area to take available space */
}

.name-surname {
    color: #fff;
    text-align: center;
    margin: 0 auto; /* Center the name-surname */
}

.logo {
    position: relative;
    color: #fff;
    margin-right: auto;
}

.sign-out {
	padding: 5px 10px;
    font-family: 'Signika', sans-serif;
	font-size: 15px;
    font-weight: bold;
	background-color: #eeeeee;
	color: rgb(44, 26, 117);
	border: none;
	border-radius: 7px;
	cursor: pointer;
    width: 70px;
    height: 40px;
}

/* nav, .sign-out {
    margin: 0 !important;
} */