.profile-form {
    background-color: #eeeeee;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
  }
  .profile-form-content {
    display: flex;
    flex-direction: column; /* Change from row to column */
    align-items: flex-start; /* Align to the start if you want left alignment of children */
}
  .tab-buttons {
    display: flex;
    justify-content: space-around;
    border-radius: 10%;
  }
  
  .tab-buttons.selected {
    border: 70px solid rgb(198, 40, 45);
  }
  
  .profile-form > div {
    margin-bottom: 20px;
  }
  
  .profile-form > div:last-child {
    margin-bottom: 0;
  }
  
  .profile-form > div:first-child {
    display: flex;
    justify-content: space-around;
  }
  
  .profile-form > div:first-child > div {
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
  }
  
  .profile-form > div:first-child > div:hover {
    border: 2px solid blue;
  }
  
  .profile-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    transition: border-color 0.2s;
  }
  
  .profile-form input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
  }

  .profile-form-content {
    display: flex;
    justify-content: space-around;
  }
  
  .experience-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .education-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the start if you want left alignment of children */
    width: 100%; /* Adjust width as per your requirement, 20px is too less for a container */
  }
  
  
  
  .experience-inputs input[type="text"],
  .duration-select select {
 
    width: calc(33.33% - 10px); 
    margin-right: 10px; 
  }
  
  .duration-select select {
    width: 100%;
  }