

.profile-form {
  width: 90%; 
  max-width: 1200px;  
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.tab-container {
  display: flex;
  gap: 250px; 
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #e9e9e9;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: #007BFF;
  color: white;
}

.tab-button:hover {
  background-color: #d0d0d0;
}

div > div {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 50%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #007BFF;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  width: calc(25% - 10px); 
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #e9e9e9; 
  color: #b0b0b0;          
  cursor: not-allowed;       
}

button:hover:disabled {
  background-color: #e9e9e9; 
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
textarea,
select {
  width: 50%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #007BFF;
}