.name-area {
	padding-left:25px;
}

.profile-container {
	display: flex;
	flex-direction: row; /* Display children in a row */
	align-items: flex-start;
	padding: 20px;
  }
  
  .profile-photo {
	width: 200px;
	height: 300px;
	border-radius: 10%;
	overflow: hidden;
	margin-right: 20px;
	/* Add styles for the photo container, e.g., border, box-shadow, etc. */
  }
  
  .details-container {
	display: flex;
	flex-direction: column; /* Display children in a column */
  }
  
  .profile-details,
  .contact-details {
	flex: 1;
  }
  
  .body-of-CV {
	padding-left: 25px;
  }