.profile-container {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  margin-bottom: 20px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.profile-photo {
  width: 220px;
  height: 300px;
  border-radius: 5%;
  overflow: hidden;
  margin-left: 30px;
  padding-right: 200px;
}

.top-profile-heading {
  align-items: centre;
  font-size: 14px;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  min-width: 500px;
  font-family: Source Sans Pro, sans-serif;
  margin-top: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 100px;
}

.professionalFont {
  font-family: 'Arial', serif;
  font-size: 15px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 100px;
}
.edit-button,
.edit-button-contact {
  width: 4em;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  right: 0;
}


.edit-button:hover,
.edit-button-contact:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.edit-button:active,
.edit-button-contact:active {
  transform: scale(1);
}

.edit-button {
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14.5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-button.edit {
  color: blue;
  border-color: blue;
}

.edit-button.edit:hover {
  background-color: #e6f0ff;
}

.edit-button.save {
  color: red;
  border-color: red;
}

.edit-button.save:hover {
  background-color: #ffe6e6;
}

.edit-button-contact {
  background: none;
  border: 1px solid #007bff;
  color: blue;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.edit-button-contact:hover {
  background-color: #e6f0ff;
}

li {
  display: flex;
  height: auto;
  justify-content: space-between;
  line-height: 17.6px;
  margin: 0;
  margin-top: 10px;
  padding-top: 4px;
  transition: .3s;
}

label {
  margin-bottom: 10px;
  /* Adjust the value as needed */
  font-weight: 500;
  font-size: 13px;
  font-family: Source Sans Pro, sans-serif;
}

.website-link {
  width: 40px;
  margin-left: 5px;
}

.profile-details,
.contact-details {
  flex: 1;
}

