 .panel-review .header-utility h3 {
	 padding: 5px 0 0;
}
 .panel-review .m-listview-item blockquote {
	 font-size: 16px;
}
 .panel-review .meta {
	 display: block;
	 font-weight: 400;
	 font-size: 14px;
	 margin: 10px 0 5px;
}
 .panel-review .meta span {
	 font-weight: 300;
	 color: #666;
}
 .panel-review .meta span.badge {
	 color: white;
}
 .panel-review .card .meta {
	 font-size: 16px;
	 border-bottom: 1px solid #eee;
	 margin: 5px 0 10px;
	 padding: 0 0 5px;
}
 .panel-review .card ul, .panel-review .card blockquote {
	 font-size: 14px;
}
 .panel-review .card .legend {
	 font-size: 14px;
}
 .panel-review .card .rating-number {
	 color: #666;
}
 .panel-review .view-details {
	 display: block;
	 padding: 5px 0 0;
	 margin: 0;
	 font-weight: 400;
	 clear: both;
	 font-size: 14px;
}
 .label-inverse {
	 border: 1px solid #444;
	 background: white;
	 color: #444;
}
 .heading.heading-img {
	 margin: 0;
	 background-position: 100% 0%;
}
 .tab-menu {
	 background: #eee;
	 padding: 15px 0;
	 text-align: center;
	 margin: 0 0 15px;
}
 .nav-tabs {
	 border: none;
	 width: 100%;
}
 .nav-tabs li {
	 float: none;
	 display: table-cell;
	 border: none;
	 font-size: 14px;
	 text-transform: uppercase;
}
 .nav-tabs li.active a {
	 background: none;
	 border: none;
	 font-weight: 500;
	 color: #000;
}
 .nav-tabs li.active a:hover, .nav-tabs li.active a:focus, .nav-tabs li.active a:active {
	 background: none;
	 border: none;
}
 .nav-tabs li.active a:after {
	 width: calc(60%);
	 transition: .3s;
}
 .nav-tabs li a {
	 color: #666;
	 padding: 10px;
	 position: relative;
	 border: none;
}
 .nav-tabs li a:hover, .nav-tabs li a:focus, .nav-tabs li a:active {
	 background: none;
	 border: none;
}
 .nav-tabs li a:after {
	 content: '';
	 background: #666;
	 width: 0;
	 height: 4px;
	 position: absolute;
	 bottom: 0;
	 left: 50%;
	 transform: translateX(-50%);
	 transition: .1s;
}
 .jobsearcheffort {
	 display: table;
	 width: 100%;
}
 .jobsearcheffort div {
	 display: table-cell;
}
 .jobsearcheffort div.preview {
	 padding: 0 0 0 5px;
}
 .jobsearcheffort .btn-default.cta.btn-lg {
	 background: none;
	 color: #fff;
	 font-weight: 500;
	 width: 100%;
	 border-color: rgba(255,255,255,0.8);
}
 .jobsearcheffort .btn-default.cta.btn-lg:hover {
	 border-color: #fff;
}
 .menu-trigger {
	 align-items: center;
	 width: 65px;
	 height: 65px;
	 margin: 0 auto;
	 opacity: 0;
	 z-index: -10;
	 cursor: pointer;
	 transition: opacity 1s, z-index 0.3s, transform 1s;
	 transform: translateX(0);
	 opacity: 1;
	 z-index: 100;
	 background: rgba(255,255,255,0.3);
	 transition: transform 0.3s;
}
 .menu-trigger:hover {
	 background: rgba(255,255,255,0.9);
}
 .menu-trigger:hover .line {
	 background-color: rgba(0,0,0,0.9);
}
 .menu-trigger:hover .line:before, .menu-trigger:hover .line:after {
	 background-color: rgba(0,0,0,0.9);
}
 .menu-trigger .line {
	 position: relative;
	 width: 32px;
	 display: block;
	 margin: 0 auto;
	 height: 6px;
	 background-color: rgba(0,0,0,0.6);
	 border-radius: 6px;
	 transition: background-color 0.3s, height 0.3s, top 0.3s;
}
 .menu-trigger .line:before, .menu-trigger .line:after {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 32px;
	 height: 6px;
	 background-color: rgba(0,0,0,0.6);
	 border-radius: 6px;
	 transition: background-color 0.3s, transform 0.3s;
}
 .menu-trigger .line:before {
	 top: 11px;
	 transform-origin: 15% 100%;
}
 .menu-trigger .line:after {
	 bottom: 11px;
	 transform-origin: 25% 30%;
}
 .menu-open .menu-trigger {
	 position: absolute;
	 top: 5px;
	 right: 5px;
	 z-index: 999999;
}
 .menu-open .menu-trigger .line {
	 height: 0px;
	 top: 45%;
	 position: static;
}
 .menu-open .menu-trigger .line:before {
	 transform: rotate(45deg);
	 top: 22px;
}
 .menu-open .menu-trigger .line:after {
	 transform: rotate(-45deg);
	 bottom: 22px;
}
 @media (min-width: 768px) {
	 .menu-trigger {
		 display: none;
	}
	 .nav-tabs {
		 display: table;
	}
}
 @media (max-width: 768px) {
	 .nav-tabs {
		 position: fixed;
		 left: 0;
		 top: 0;
		 height: 100%;
		 width: 100%;
		 background: rgba(30,54,108,0.96);
		 z-index: 2;
		 text-align: center;
		 padding: 50px 0;
		 -webkit-backface-visibility: hidden;
		 backface-visibility: hidden;
		 overflow: auto;
		 -webkit-overflow-scrolling: touch;
		 -webkit-transform: translateY(-100%);
		 -moz-transform: translateY(-100%);
		 -ms-transform: translateY(-100%);
		 -o-transform: translateY(-100%);
		 transform: translateY(-100%);
		 -webkit-transition-property: -webkit-transform;
		 -moz-transition-property: -moz-transform;
		 transition-property: transform;
		 -webkit-transition-duration: 0.4s;
		 -moz-transition-duration: 0.4s;
		 transition-duration: 0.4s;
	}
	 .nav-tabs.expanded {
		 -webkit-transform: translateY(0);
		 -moz-transform: translateY(0);
		 -ms-transform: translateY(0);
		 -o-transform: translateY(0);
		 transform: translateY(0);
		 z-index: 99999;
	}
	 .nav-tabs.expanded li {
		 display: block;
	}
	 .nav-tabs.expanded li a {
		 color: white;
		 padding: 20px;
	}
	 .nav-tabs.expanded li.active a {
		 color: #eee;
	}
}
 .buffer {
	 margin-top: 20px;
	 margin-bottom: 20px;
}
 .socialprofiles {
	 margin-top: 10px;
	 border-top: 1px solid #E5E5E5;
}
 .socialprofiles .socialicon.fa-linkedin-square {
	 color: #007BB6;
}
 .socialprofiles .header-utility .socialicon {
	 padding-top: 2px;
	 padding-bottom: 2px;
	 padding-right: 5px;
	 float: left;
}
 section {
	 display: none;
}
 .panel {
	 margin-top: 30px;
	 margin-bottom: 0;
}
 .socialprofiles {
	 border-top: 1px solid #DDD;
	 margin-top: 10px;
	 margin-bottom: 10px;
}
 main {
	 margin: 10px;
	 overflow: auto;
}
 input {
	 display: none;
}
 label {
	 display: inline-block;
	 margin: -2px;
	 padding: 10px;
	 text-align: center;
}
 label:hover {
	 background-color: #ddd;
	 cursor: pointer;
}
 input:checked + label {
	 background-color: #aaa;
	 color: #fff;
}
 #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8, #tab9:checked ~ #content9, #tab10:checked ~ #content10 {
	 display: block;
}
 @media screen and (max-width: 650px) {
	 label {
		 font-size: 0;
	}
	 label:before {
		 margin: 0;
		 font-size: 18px;
	}
}
 @media screen and (max-width: 400px) {
	 label {
		 padding: 15px;
	}
}
 .form-completion {
	 margin: 30px;
}
 